@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #f7ae83;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }


.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myBody {
    background-image: url(../images/backgrounds/radlands.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: var(--Second-color);
    gap: 5em;
}

.myBody.display {
    display: flex;
}

#myBackgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1 ; 
}

.myDeleteFormOverlay, .myLoginFormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 994; 
    display: none; 
}

.myDeleteFormOverlay.Display, .myLoginFormOverlay.Display {
    display: block;
}

.myDeleteDiv, .myLoginDiv {
    position: absolute;
    width: 17em;
    height: 30em;
    padding: 15px;
    align-content: center;
    text-align: center;
    top: 25%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; 
    z-index: 995;
    user-select: none; 
    display: none;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    border: var(--white-color) 2px solid;
    background: var(--Main-test-1);
    color: var(--white-color);
}

.myDeleteDiv.Display, .myLoginDiv.Display {
    display: flex;
}

#myCancelBtn1, #myCancelBtn2 {
    background: none;
    border: none;
    margin: 0px -16em 0px 0px;
}

#myCancelBtnImage {
    width: 3em;
    cursor: pointer;
}

#myFormColumn {
    flex-direction: column;
    gap: 5px;
}

.bubble {
    width: 7em;
    height: 7em;
    background-color: #e35a7e;
    border-radius: 50%;
    transition: border-radius 0.5s ease; 
    animation: bubbleEffect 1.5s infinite; 
    margin-bottom: 20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bubble:hover {
    border-radius: 5px; 
}

@keyframes bubbleEffect {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
}

#myDeleteEmail, #myDeletePassword, #myLoginEmail, #myLoginPassword {
    margin: 10px 0px;
    background: none;
    border: none;
    border-bottom: 3px solid var(--white-color);
    padding: 5px 10px;
    outline: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    width: 13em;
}

#myPasswordDiv {
    position: relative;
}

#myLoginPassword, #myDeletePassword {
    position: relative;
}

#myLoginView, #myDeleteView {
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    cursor: pointer;
    top: 32%;
    right: 3%;
}

#myDeleteBtn, #myLoginBtn {
    cursor: pointer;
    width: 10em;
    height: 2em;
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    box-shadow: 5px 5px var(--Main-test-4);
    transition: all 0.2s ease;
    margin: 30px 0px 0px 0px;
    letter-spacing: 2px;
}

#myDeleteBtn:active, #myLoginBtn:active {
    background-color: var(--Main-test-4);
    transform: scale(0.95);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px var(--Third-color-main-red);
    color: #ffffff;
}

#myHeader {
    margin-top: 40px;
}

#mySearchDiv {
    margin-top: 10px;
}

#mySearchBlock {
    position: relative; 
    width: 100%; 
}

.mySearch {
    width: 20em;
    margin: 10px;
    background: var(--Main-color);
    outline: none;
    border: none; 
    border-bottom: 3px solid var(--white-color);
    padding: 5px 10px;
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.mySearch.change {
    background: var(--Main-test-3);
    border-bottom: 3px solid var(--Main-color);
}

#mySearchIconBtn {
    width: 2em;
    position: absolute;
    left: 87%;
}

#myProfilesDiv {
    max-width: 70em;
    width: 100%;
    height: 15em;
    align-items: center;
    margin: 20px;
}

#myProfiles {
    width: 100%;
    height: 15em;
    align-items: center;
    gap: 20px;
}

#myPlusSign {
    align-self: flex-start;
    flex-wrap: wrap;
    user-select: none;
}

#myPlusSignImage {
    width: 9em;
    background: var(--Main-test-5);
    height: 9em;
    border-radius: 5px;
    padding: 30px;
    margin: 0px 10px;
    text-decoration: none;
}

#myPlusName {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    border-radius: 5px;
    user-select: none;
    text-wrap: wrap;
    text-align: center;
    color: var(--Main-test-3);
    background: var(--white-color);
}

#userContainer {
    gap: 20px;
    height: 15em;
    flex-wrap: wrap;
    width: fit-content;
}

#myContainer {
    align-self: flex-start;
}

#myImageContainer {
    width: 9em;
    height: 9em;
    background-color: var(--Second-color-second);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

#myProfileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; 
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid var(--Main-color);
    user-select: none;
    -webkit-user-drag: none;
}

#myNameDiv {
    text-align: center;
    height: 2em;
    border-radius: 5px;
    width: 9.8em;
    margin: 5px 0px 5px -5px;
}

#myProfileName {
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    font-size: 0.9em;
    border-radius: 5px;
    user-select: none;
    padding: 0px 5px;
    text-wrap: wrap;
    background: var(--Main-test-3);
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#myButtonDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Main-test-4);
    padding: 2px 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    gap: 5px;
    justify-content: center;
    margin-bottom: 5em;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 5em;
}

.myEnterButton, .myDeleteButton {
    background: none;
    border: none;
}

#myUpdateButtonImage, #myEnterButtonImage, #myInfoButtonImage, #myDeleteButtonImage {
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-top: 2px;
}

#myEnterButtonImage {
    margin-top: 3px;
}

#myUpdateButtonImage {
    width: 1.4em;
    height: 1.5em;
}

#myImageContainer:hover  #myButtonDiv, #myButtonDiv:hover{
    opacity: 1;
    visibility: visible;
}

#noUsersFound {
    width: 10em;
    height: 10em;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    border-radius: 5px;
}

#noUsersFoundContent {
    background: var(--Main-test-5);
    border-radius: 10px;
    padding: 2px 4px;
    align-self: center;
    width: 8em
}

.myDisplay {
    color: var(--white-color);
    font-family: 'Cabin', sans-serif;
    display: none;
}

.myDisplay.block {
    display: flex;
}


@media (max-width: 1050px) {
    #myBody {
        overflow-y: scroll;
    }

    #myProfiles {
        flex-direction: column;
        margin: -10em 0px 0px 0px;
    }

    #myPlusSign {
        align-self: center;
        position: relative;
        z-index: 5;
    }

    #userContainer {
        margin: 0px 10em 0px 10em;
        flex-wrap: nowrap;
    }

    #noUsersFound {
        align-self: center;
    }
    
}

@media(max-width: 870px) {

    #myBody {
       height: 210vh;
    }

    #userContainer {
        flex-direction: column;
    }

    .myDeleteDiv, .myLoginDiv {
       top: 40%; 
    }
}

@media(max-width: 350px) {
    #mySearch {
        width: 17em;
        font-size: 0.8em;
    }

    #mySearchIconBtn {
        width: 1.5em;
        left: 85%;
    }
}