@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #71d045;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #f7ae83;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myBody {
    height: 100vh;
    width: 100%;
    background-color: var(--Second-color);
    overflow: hidden;
    background-image: url(../images/backgrounds/radlands.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#myBackgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1 ; 
}

#myHeader {
    margin-top: 20px;
    margin-bottom: 0px;
}

#myIconDecisionDiv {
    padding: 10px;
}

#myIconDecision {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--Main-color);
    padding: 10px;
    border-radius: 5px;
}

#myForm {
    flex-direction: row;
}

#myFlex1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
    margin: 10px;
}

#myContainer {
    padding: 10px;
}

#myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
    width: 5em;
    height: 15em;
    color: var(--white-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer;
    transition: width 0.4s ease, margin-right 0.4s ease; 
    overflow: hidden; 
    border: 2px solid var(--Main-color);
}

#myRow {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.2em 0.3em;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease; 
    transform: translateY(10px); 
    flex-grow: 1;
    overflow: hidden; 
}

#myName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
    background: var(--Main-test-5);
    padding: 3px;
    font-size: 1.5em;
}

#myLine {
    height: 2px;
    width: 100%;
    background: var(--white-color);
}

#myPhrase {
    margin: 2px 0px;
    font-size: 0.80em;
    background: var(--Main-test-5);
    padding: 1px 3px;
    text-wrap: wrap;
}

input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
    width: 16em;
}

input[type="radio"]:checked + #myRadio1 > #myRow, input[type="radio"]:checked + #myRadio2 > #myRow, input[type="radio"]:checked + #myRadio3 > #myRow, input[type="radio"]:checked + #myRadio4 > #myRow, input[type="radio"]:checked + #myRadio5 > #myRow, input[type="radio"]:checked + #myRadio6 > #myRow, input[type="radio"]:checked + #myRadio7 > #myRow, input[type="radio"]:checked + #myRadio8 > #myRow, input[type="radio"]:checked + #myRadio9 > #myRow, input[type="radio"]:checked + #myRadio10 > #myRow {
    transition-delay: 0.3s;
    opacity: 1;
    transform: translateY(10)
}

input[type="radio"]:not(:checked) + #myRadio1 > #myRow {
    opacity: 0;
    transform: translateY(10);
    transition: opacity 0.4s ease;
}

#myBtnDiv {
    padding: 10px;
}

#myBtn, #myFlashMessageBtn {
    cursor: pointer;
    width: 15em;
    height: 4em;
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    box-shadow: 5px 5px var(--Main-test-4);
    transition: all 0.2s ease;
    margin: 10px;
    letter-spacing: 2px;
}

#myBtn:active {
    background-color: var(--Main-test-4);
    transform: scale(0.95);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px var(--Third-color-main-red);
    color: #ffffff;
}

@media (max-width: 980px) {

    #myForm {
        flex-direction: column;
    }

    #myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
        width: 5em;
        height: 13em;
    }

    #myName {
        font-weight: 500;
        font-size: 0.8em;
        
    }

    #myPhrase {
        font-size: 0.66em;
        text-wrap: wrap;
    }
    
    input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
        width: 10em;
    }
    
}

@media (max-width: 780px) {
    
    #myIconDecision {
        font-size: .9em;
    }

    #myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
        width: 5em;
        height: 11em;
    }

    #myName {
        font-weight: 500;
        font-size: 0.70em;
    }

    #myPhrase {
        font-size: 0.66em;
        text-wrap: wrap;
    }
    
    input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
        width: 10em;
    }
    
}

@media (max-width: 600px) {

    #myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
        height: 9em;
    }
    input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
        width: 9em;
    }

    #myBtn {
        margin-top: -10px;
        height: 3em;
        width: 10em;
    }
}

@media (max-width: 470px) {

    #myBody {
        overflow-y: scroll;
        height: 110vh;
    }

    #myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
        height: 8em;
    }
    input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
        width: 9em;
    }
}

@media (max-width: 340px) {
    #myBody {
       
        height: 130vh;
    }
    #myRadio1, #myRadio2, #myRadio3, #myRadio4, #myRadio5, #myRadio6, #myRadio7, #myRadio8, #myRadio9, #myRadio10 {
        height: 7em;
    }
    input[type="radio"]:checked + #myRadio1, input[type="radio"]:checked + #myRadio2, input[type="radio"]:checked + #myRadio3, input[type="radio"]:checked + #myRadio4, input[type="radio"]:checked + #myRadio5, input[type="radio"]:checked + #myRadio6, input[type="radio"]:checked + #myRadio7, input[type="radio"]:checked + #myRadio8, input[type="radio"]:checked + #myRadio9, input[type="radio"]:checked + #myRadio10 {
        width: 9em;
    }

    #myBtn {
        margin-top: -10px;
        height: 3em;
        width: 7em;
    }
}

