@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }


.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myBody {
    background-image: url(../images/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: var(--Second-color);
}

#myNewUser {
    flex-direction: column;
    margin: 5em;
    gap: 10px;
    padding: 10px;
}

#myForm {
    flex-direction: column;
}

#myUsernameAndIconChoice {
    flex-direction: column;
}

.myIconContainer {
    position: relative; 
    width: fit-content;
    height: fit-content;
}

#myIconShadow {
    width: 9.2em;
    height: 9.2em;
    background-color: var(--Third-color-main-red);
    position: absolute;
    z-index: 2;
    display: none;
    cursor: pointer;
    border-radius: 10px;
}

#myIcon {
    width: 9em;
    height: 9em;
    position: relative;
    cursor: pointer; 
    border-radius: 10px;
    z-index: 1;
    border: 3px solid var(--Third-color-main-red);
}

a #myEditIcon {
    width: 2em;
    height: 2em;
    position: absolute;
    cursor: pointer;
    display: none;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.myIconContainer:hover #myIconShadow,
.myIconContainer:hover a #myEditIcon {
    display: block;
}

#myUsername, #myEmail, #myPassword {
    margin: 10px 0px;
    background: none;
    border: none;
    border-bottom: 3px solid var(--Main-color-pink);
    padding: 5px 10px;
    outline: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    width: 15em;
    position: relative;
}

#myView {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    cursor: pointer;
    top: 47%;
    right: 22%;
}

#myEmailAndPasswordChoice {
    background: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    padding: 10px 20px;
    width: 25em;
    flex-direction: column;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #ffffff;
    text-transform: uppercase;
    gap: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#myEmailAndPassword {
    flex-direction: column;
}

#myWelcome {
    font-size: 1.8em;
}

#myBtn, #myFlashMessageBtn {
    cursor: pointer;
    width: 15em;
    height: 4em;
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    box-shadow: 5px 5px var(--Third-color-main-red);
    transition: all 0.2s ease;
    margin: 10px;
    letter-spacing: 2px;
}

#myBtn:active {
    background-color: var(--Third-color-main-red);
    transform: scale(0.95);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px var(--Third-color-main-red);
    color: #ffffff;
}

@media (max-width: 700px) {

    .myFlashMessage {
        padding: 5px;
        font-size: 0.9em;
        width: 35em;
    }
    
}

@media (max-width: 550px) {

    .myFlashMessage {
        padding: 5px;
        font-size: 0.8em;
        width: 20em;
    }

   #myEmailAndPasswordChoice {
        width: 20em;
    }

    
    #myWelcome {
    font-size: 1.3em;
    }


    #myView {
        top: 48%;
        right: 22%;
    }

    #myUsername, #myEmail, #myPassword {
        width: 12em;
    }

    #myBtn {
        width: 12em;
        height: 3em;
    }
}
