@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #d18d70;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none;
}

.myAddAppDiv {
    background: url('/client/assets/images/backgrounds/crafting.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 900;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    border-top-right-radius: 5px;
}

.myAddAppDiv.display {
    display: flex;
}

#myAddAppOverlay {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
}

.myAddAppExplainOverlay {
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    display: block;
}

.myAddAppExplain {
    padding: 10px;
    text-align: center;
    background: var(--Main-test-1);
    margin: 10px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 100;
    height: 12em;
    gap: 10px;
}

.myAddAppExplain.none {
    display: none;
}

.myAddAppExplainOverlay.none {
    display: none;
}

#myAddAppExplain h3 {
    font-size: 1.2em;
    color: var(--Main-test-4);
}

#myAddAppExplain p {
    text-wrap: wrap;
    width: 20em;
    font-size: 1em;
}

#myAddAppExplainBtn {
    position: absolute;
    width: 10em;
    height: 2.5em;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 700;
    bottom: 5%;
    border: none;
    background: var(--white-color);
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px var(--Main-test-4);
    transition: all 0.2s ease;
}

#myAddAppExplainBtn:active {
    color: var(--white-color);
    background: var(--Main-test-4);
    box-shadow: 0px 0px var(--Main-test-4);
}

.myAddAppForm {
    width: 95%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    border: 2px solid var(--Main-test-4);
    background: rgb(255, 255, 255, 0.10);
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.myAddAppForm.display {
    opacity: 1;
    visibility: visible;
}

#myAddAppLogoNameDescription {
    width: 95%;
    height: 50%;
    margin: 5px;
    justify-content: space-around;
}

#myAddAppLogoDiv {
    flex-direction: column;
    justify-content: center;
    height: 8em;
}

#myAddAppLogoDiv h3 {
    font-size: 0.8em;
    background: var(--Main-test-1);
    padding: 2px 5px;
    margin: 2px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

#myAddAppLogoLabel {
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    border: var(--Main-color) solid 2px;
}

#myImageUploadedOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background: var(--Main-color);
    border: var(--Main-color) solid 2px;
    opacity: 0;
    visibility: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#myAppUpload {
    width: 2em;
    position: absolute;
    opacity: 0;
    visibility: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#myAddAppLogoLabel:hover #myImageUploadedOverlay, #myAddAppLogoLabel:hover #myAppUpload {
    opacity: 1;
    visibility: 1;
}

#myAddNameDescription {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
}

#myAddAppName {
    background: var(--Main-color);
    border: none;
    padding: 2px 5px;
    outline: none;
    border-bottom: var(--white-color) 2px solid;
    color: var(--white-color);
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    width: 90%;
}

#myAddAppDescription {
    resize: none;
    background: var(--Main-color);
    outline: none;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: var(--white-color) 2px solid;
    width: 90%;
    height: 5em;
    color: var(--white-color);
    padding: 5px; 
    overflow-y: scroll; 
    border-bottom-right-radius: 3px;
}

#myAddAppLinkVisibility {
    height: 2em;
    width: 95%;
    margin: 5px;
    justify-content: space-between;
    padding: 10px;
}

#myAppLink {
    background: var(--Main-test-4);
    border: none;
    padding: 2px 5px;
    border-bottom: 2px solid var(--white-color);
    color: var(--white-color);
    outline: none;
}

#myAppVisibilityDiv {
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: 2em;
    background: var(--Main-test-3);
    text-align: center;
    margin: 0px 0px 0px 5px;
    width: 10em;
    border-radius: 5px;
}

#myAppVisibilityLabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    position: relative;
}

#myAppVisibilityLabel h3 {
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

#myCheckmark {
    width: 1em;
    height: 1em;
    background: none;
    border: 1px solid var(--Main-color);
    cursor: pointer;
    position: relative;
}

#myCheckmarkShadow {
    position: absolute;
    width: 1em;
    height: 1em;
    background: var(--Main-color);
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease; 
}

#myAppVisibilityDiv input[type="radio"]:checked + label #myCheckmarkShadow {
    opacity: 1;
    visibility: visible;
}

#myAppVisibilityDiv input[type="radio"]:checked + label::after {
    content: '✔'; 
    position: absolute;
    right: 0;
    transform: translate(-25%);
    font-size: 0.8em;
    color: var(--white-color); 
    z-index: 101; 
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#myAddAppBtn {
    border: none;
    box-shadow: 4px 4px var(--Main-test-4);
    background: var(--white-color);
    width: 10em;
    height: 3em;
    font-weight: 700;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 2px;
    margin: 5px;
    text-transform: uppercase;
}

#myAddAppBtn:active {
    box-shadow: 0px 0px var(--Main-test-4);
    background: var(--Main-test-4);
    color: var(--white-color);
}

#myAddAppVisibilityBtn {
    background: var(--Main-color);
    position: absolute;
    left: 0;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 5px;
    width: 2.5em;
}

#myAddAppVisibilityBtnImage {
    width: 1.5em;
    height: 1.5em;
}

