@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #d18d70;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }


.myEditProfileDiv {
    height: 22em;
    width: 18em;
    bottom: 8em;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border: 2px solid var(--Main-color);
    border-right: none;
    border-top-left-radius: 5px;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    user-select: none;
}

.myEditProfileDiv.display {
    opacity: 1;
    visibility: visible;
}

#myEditProfileOverlay {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    border-top-left-radius: 5px;
}

#myEditProfileBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 1;
    border-top-left-radius: 5px;
    -webkit-user-drag: none;
}

#myEditProfileBanner, #myMenuBanner {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 900;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: var(--Main-color);
    justify-content: center;
}

#myMenuBanner {
    right: 0%;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#myEditProfileBannerBtn, #myMenuBannerBtn {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    z-index: 901;
}

#myEditProfileBannerImage, #myMenuBannerImage {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    z-index: 902;
}

#myEditProfileInformations {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.myEditProfileForm {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px;
    flex-direction: column;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.myEditProfileForm.display {
    opacity: 1;
    visibility: visible;
}

.myEditAlbum {
    transition: display 0.2s ease;
    background: var(--Main-test-3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 898;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 5px;
}

.myEditAlbum.display {
    display: flex;
}

#myCloseAlbumBtn {
    background: var(--Main-color);
    border: none;
    padding: 2px;
    border-bottom-left-radius: 5px;
    top: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 900;
}

#myCloseAlbumBtnImage {
    width: 2em;
    height: 2em;
}

#myAlbumPhotosDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 899;
    border-top-left-radius: 5px;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

#myAlbumPhotoContainer {
    width: 5em;
    height: 5em;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

#myAlbumPhoto {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--Main-color);
    cursor: pointer;
    position: relative;
}

#myAlbumPhotoShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--Main-color);
    z-index: 100;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
}

#myAlbumPhotoContainer input[type="radio"]:checked + label #myAlbumPhotoShadow {
    opacity: 1;
    visibility: visible;
}

#myAlbumPhotoContainer input[type="radio"]:checked + label::after {
    content: '✔'; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: var(--white-color); 
    z-index: 101; 
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

#myEditProfileMessage {
    font-size: 1em;
    background: var(--Main-test-1);
    padding: 5px 10px;
    border-radius: 5px;
}

#myEditIconNameEmailDiv {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 8em;
}

#myNameEmail {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#myUsername, #myEmail {
    background: var(--Main-color);
    border: none;
    border-bottom: 2px solid var(--white-color);
    padding: 2px 5px;
    color: white;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    width: 15em;
}

#myEditIconBtnDiv {
    border-radius: 5px;
}

#myEditIconBtn {
    background: var(--Main-test-4);
    border: none;
    border-radius: 5px;
    width: 3em;
    height: 3em;
    padding: 3px 1px 1px 1px;
    cursor: pointer;
}

#myEditIcon {
    width: 2em;
    cursor: pointer;
}

#myEditMedalsClockFriends {
    width: 100%;
    justify-content: space-between;
    background: var(--Main-test-1);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

#myEditMedalsClockFriends h3 {
    font-size: 0.8em;
    margin: 0px 10px 0px 0px;
}

#myEditMedalImage, #myEditFriendsImage, #myEditClockImage {
    width: 1.8em;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}

#myEditClockImage {
    width: 1.5em;
}

#myDescription {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white-color);
    background: var(--Main-color);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 5px;
    text-wrap: wrap;
    width: 20em;
    height: 8em;
    box-sizing: border-box;  
    resize: none;
    overflow-y: auto;
}

#myUpdateBtn {
    box-shadow: 5px 5px var(--Main-test-4);
    width: 10em;
    height: 3em;
    background: var(--white-color);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#myUpdateBtn:active {
    box-shadow: 0px 0px var(--Main-test-4);
    background: var(--Main-test-4);
    color: var(--white-color);
}