@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #d18d70;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#myMenuMessagesDiv {
    width: 90%;
    height: 10em;
}

#myLastMessages {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.10);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: var(--Main-test-4) solid 2px;
}

#myMenuMessageDiv {
    background: var(--Main-test-1);
    border-radius: 5px;
    width: 10.5em;
    height: 3.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

#myMenuMessageUserDiv {
    width: 3.5em;
    height: 3em;
    border-radius: 5px;
}

#myMenuMessageUser {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--Main-color);
}

#myMenuMessageContent {
    width: 8em;
    height: 2.5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white-color);
    overflow: hidden;
    margin: 0px 0px 0px 5px;
    position: relative;
}

#myMenuUserDiv {
    width: 100%;
    gap: 5px;
}

#myMenuUser {
    font-size: 0.63em;
    font-family: 'Poppins', sans-serif;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: normal; 
    overflow: hidden; 
}

#myStatusMenuAnswer {
    width: 0.4em;
    height: 0.4em;
}

#myStatusMenuAnswerText {
    font-size: 0.6em;
}

#myMenuMessage {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.56em;
    max-height: 4em; 
    overflow-y: auto;
    white-space: normal;
    scroll-behavior: smooth;
    width: 13.8em;
}

#myMaximize {
    width: 1.5em;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

#myFormattedTime {
    font-family: 'Cabin', sans-serif;
    font-size: 0.55em;
    position: absolute;
    right: 3%;
    top: 12%;
}

#myChatMaximizeBtn {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

