@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #4294FF;
    --Second-color: #333333;
    --success-color: #7CDF4E;
    --Main-color-second: #3c31dd;
    --Second-color-second: #0f0f10;
    --Third-color-main-red: #dd3f31;
    --Main-color-pink: #ff0066;
    --white-color: #ffffff;
    --Main-test-1: #0b2e70;
    --Main-test-2: #d18d70;
    --Main-test-3: #010326;
    --Main-test-4: #e35a7e;
    --Main-test-5: #743583;
    --Main-test-6: #1c71a6;
}

::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-moz-placeholder { color: white; }


.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none;
}

#myNewsBar {
    width: 15em;
    height: 2.5em;
    position: absolute;
    top: 3.5%;
    right: 5%;
    border-radius: 2px;
    justify-content: space-between;
    z-index: 3;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

#myFriendsBtnDiv, #myNotificationsDiv {
    width: 4em;
    justify-content: space-between;
    position: relative;
}

#myLogoutDiv, #myRankingDiv  {
    justify-content: space-around;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#myHallOfFame {
    font-size: 1em;
}

.myLogoutConfirmation {
    flex-direction: column;
    width: 15.5em;
    height: 3.5em;
    position: absolute;
    text-align: center;
    right: -23%;
    border-radius: 2px;
    background: var(--Main-test-1);
    color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translate(0%);
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}

.myLogoutConfirmation.display {
    display: flex;
    animation: slideInLeft 0.6s ease-in-out forwards; 
    visibility: visible;
}

#myLogoutConfirmation > h3 {
    text-wrap: nowrap;
    font-size: 0.8em;
    padding: 2px;
}

#myDecisionDiv {
    justify-content: space-around;
    align-items: center;
}

#myYes, #myNo {
    width: 3em;
    box-shadow: 3px 3px var(--Main-test-4);
    background: var(--white-color);
    border: none;
    padding: 2px;
    transition: all 0.2s ease;
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
    color: var(--Main-test-3);
    transition: all 0.2s ease;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

#myYes:active, #myNo:active {
    box-shadow: 0px 0px var(--Main-test-4);
    transform: scale(0.95);
    background: var(--Main-test-4);
    color: var(--white-color);
}

#myNotificationsBtn, #myFriendsBtn, #myLogoutBtn, #myRankingBtn {
    background: none;
    border: none;
    cursor: pointer;
}

#myNotificationsImage, #myFriendsImage, #myLogoutImage {
    width: 2em;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

#myLogoutImage {
    width: 1.8em;
    margin: 0px 0px 0px 5px;
}

#myNotificationsImage {
    width: 1.8em;
}

#myRankingImage {
    width: 3em;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

#myNumberOfFriends, #myNumberOfNotifications {
    font-size: 1.1em;
    color: white;
    margin: 0px 10px 0px 10px;
}

#myFriends {
    background: var(--Main-color-pink);
}


